<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">{{ site.name }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto nav nav-pills">

                <li class="nav item"><a class="nav-link" href="/">Home</a></li>

                <li class="nav item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                       aria-haspopup="true" aria-expanded="false">About</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">How I Work</a>
                        <a class="dropdown-item" href="#">About Me</a>
                    </div>
                </li>

                <li class="nav item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                       aria-haspopup="true" aria-expanded="false">Services</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">By Event Type</a>
                        <a class="dropdown-item" href="#">By Service/Package</a>
                    </div>
                </li>

                <li class="nav item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                       aria-haspopup="true" aria-expanded="false">Gallery</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Makeup Artistry</a>
                        <a class="dropdown-item" href="#">Portable Studio</a>
                    </div>
                </li>

                <li class="nav item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                       aria-haspopup="true" aria-expanded="false">Contact Me</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Book Now</a>
                        <a class="dropdown-item" href="#">Free Consultation</a>
                        <a class="dropdown-item" href="#">Send a Message</a>

                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>



