<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="{{ site.url }}/">{{ site.name }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto nav nav-pills">
                {% if page.active == "home" %}
                <li class="nav-item active"><a href="#">Home</a></li>
                {% else %}
                <li><a href="/">Home</a></li>
                {% endif %}
                {% if page.active == "about" %}
                <li class="nav item active"><a href="#">About</a></li>
                {% else %}
                <li><a href="#">About</a></li>
                {% endif %}
                {% if page.active == "services" %}
                <li class="nav item active dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                       aria-haspopup="true" aria-expanded="false">Services</a>
                    <div class="dropdown-submenu">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                           aria-expanded="false">By Event Type</a>
                        <a class="dropdown-item" href="#">Weddings</a>
                        <a class="dropdown-item" href="#">Corporate & Headshot</a>
                        <a class="dropdown-item" href="#">Prom</a>
                        <a class="dropdown-item" href="#">Special Event/Other</a>
                    </div>
                    <div class="dropdown-submenu">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                           aria-expanded="false">By Service/Package</a>
                        <a class="dropdown-item" href="#">Bridal</a>
                        <a class="dropdown-item" href="#">Full Face</a>
                        <a class="dropdown-item" href="#">Eyes Only</a>
                    </div>
                </li>
                {% else %}
                <li class="nav item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                   aria-expanded="false">Services</a>
                    <div class="dropdown-submenu">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                           aria-expanded="false">By Event Type</a>
                        <a class="dropdown-item" href="#">Weddings</a>
                        <a class="dropdown-item" href="#">Corporate & Headshot</a>
                        <a class="dropdown-item" href="#">Prom</a>
                        <a class="dropdown-item" href="#">Special Event/Other</a>
                    </div>
                    <div class="dropdown-submenu">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                           aria-expanded="false">By Service/Package</a>
                        <a class="dropdown-item" href="#">Bridal</a>
                        <a class="dropdown-item" href="#">Full Face</a>
                        <a class="dropdown-item" href="#">Eyes Only</a>
                    </div>
                {% end if %}
                {% if page.active == "gallery" %}
                <li class="nav item active dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                       aria-haspopup="true" aria-expanded="false">Gallery</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">My Makeup Artistry</a>
                        <a class="dropdown-item" href="#">My Portable Studio</a>
                    </div>
                </li>
                {% else %}
                <li class="nav item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                       aria-haspopup="true" aria-expanded="false">Gallery</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">My Makeup Artistry</a>
                        <a class="dropdown-item" href="#">My Portable Studio</a>
                    </div>
                </li>
                {% endif %}
                {% if page.active == "contact" %}
                <li class="nav item active"><a href="#">Contact</a></li>
                {% else %}
                <li><a href="#">Contact</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>
